<app-cabecera>  </app-cabecera>



 
<div class="container"  >
   
    <header class="jumbotron my-1">
      <h1 class="display-3 text-center">Sala de Juegos</h1>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./assets/imagenes/saladejuegos.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Juegos</h4>
            <p class="card-text">Lista de videojuegos.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/Juegos" class="btn btn-primary">Jugar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./assets/imagenes/listado.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Listados de resultados</h4>
            <p class="card-text">Los listados de los resultados con ordenamiento y busqueda.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/Listado" class="btn btn-primary">Listados</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./assets/imagenes/configuracion.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Configuraci&oacute;n</h4>
            <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/Juegos" class="btn btn-primary">Configuraci&oacute;n</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./assets/imagenes/jugadores.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Jugadores</h4>
            <p class="card-text">Listado de jugadores.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/Jugadores" class="btn btn-primary">Ver jugadores</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <app-footer></app-footer>
