
        
        .columna-juego{
            border: 1px solid black;
        }

        .fila-juego {
            /*Bootstrap viene con h-25... pero no con h-33!*/
            height: 150px;
        }

        .cuadro { 
            cursor: pointer;
            height: 100%;
            width: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        } 