<nav class="site-header sticky-top py-2">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a routerLink="/Principal" class="mt-1">
            <i class="fa fa-gamepad" aria-hidden="true"></i>
        </a>

        <a class="py-2" href="https://github.com/Ezezsg">en GitHub <i class="fa fa-github"></i></a>
        <a class="py-2" routerLink="/QuienSoy">Quien Soy? <i class="fa fa-user"></i></a>

        <button class="btn btn-dark">
            <a routerLink="/Registro">Registrarse</a>
        </button>

        <button class="btn btn-dark" type="button">
            <a routerLink="/Login">Ingresar</a>
        </button>
  </div>
</nav>