<div class="row">
<div class=" justify-content-center container col col-8" style="border-style: solid; border-color: #000000;">
	<h1 class="justify-content-center">Ta Te Ti</h1>
  	<br>
    <div style="text-align: center">
  		<button [ngClass]="{circulo: casilleros[0] == 'o', cruz: casilleros[0] == 'x'}" (click)="jugar(0)" class="casilla"></button>
  		<button [ngClass]="{circulo: casilleros[1] == 'o', cruz: casilleros[1] == 'x'}" (click)="jugar(1)" class="casilla"></button>
  		<button [ngClass]="{circulo: casilleros[2] == 'o', cruz: casilleros[2] == 'x'}" (click)="jugar(2)" class="casilla"></button>
  		<br>
  		<button [ngClass]="{circulo: casilleros[3] == 'o', cruz: casilleros[3] == 'x'}" (click)="jugar(3)" class="casilla"></button>
  		<button [ngClass]="{circulo: casilleros[4] == 'o', cruz: casilleros[4] == 'x'}" (click)="jugar(4)" class="casilla"></button>
  		<button [ngClass]="{circulo: casilleros[5] == 'o', cruz: casilleros[5] == 'x'}" (click)="jugar(5)" class="casilla"></button>
  		<br>
  		<button [ngClass]="{circulo: casilleros[6] == 'o', cruz: casilleros[6] == 'x'}" (click)="jugar(6)" class="casilla"></button>
  		<button [ngClass]="{circulo: casilleros[7] == 'o', cruz: casilleros[7] == 'x'}" (click)="jugar(7)" class="casilla"></button>
  		<button [ngClass]="{circulo: casilleros[8] == 'o', cruz: casilleros[8] == 'x'}" (click)="jugar(8)" class="casilla"></button>
	</div>
	<div style="text-align: center">
  		<!-- <button class="btn btn-primary" (click)="reiniciar()">Reiniciar</button> -->
	</div>
	<h1 class="mat-display-1" style="font-weight: 900; text-align: center; ">{{mensaje}}</h1>
</div>
	<div class="col col-4" style="border-style: solid; border-color: #000000;">
		<app-chat [queChat]="nombreDelJuegoChat"></app-chat>
	</div>
</div>
	